* {
    margin: 0;
    padding: 0;
    height: 100%;
}

.root {
    width: 100%;
    height: 100%;
}

//置中
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

//邊框 && 圓角10px
.border {
    border: 1px solid #bbb;
    border-radius: 10px;
}

.contain {
    height: 100%;
    @extend .center;
    flex-direction: column;
    .user {
        position: relative;
        @extend .center;
        align-items: flex-end;
        width: 90%;
        height: 50%;

        &_input {
            width: 80%;
            height: 20%;
            @extend .border;
            padding:0px 20px;
            font-size: 1rem;
            font-weight: 700;
            color: green ;

            &:focus {
                border: 0px;
                outline: 3px green dashed;
            }
        }

        &_check {
            margin-left: 50px;
            width: 100px;
            height: 20%;
            @extend .border;

            &:hover {
                scale: 1.05;
            }

            &:active {
                scale: 1;
            }
        }
    }
    .user_output{
        @extend .center;
        width: 100%;
        height: 50%;
        &_div {
            position: relative;
            width: 100%;
            height: 10%;
            margin-top: 10px;
            margin-left:5%;
            padding: 10px;
            font-size: 2rem;
        }
    }
    
}