* {
    margin: 0;
    padding: 0;
    height: 100%;
}

.root {
    width: 100%;
    height: 100%;
}

//置中
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

//邊框 && 圓角10px
.border {
    border: 1px solid #bbb;
    border-radius: 10px;
}

.contain {
    @extend .center;
    flex-direction: column;
    .user {
        @extend .center;
        width: 100%;
        height: 10%;

        &_input {
            width: 80%;
            @extend .border;

            &:focus {
                border: 0px;
                outline: 3px green dashed;
            }
        }

        &_check {
            margin-left: 50px;
            width: 100px;
            @extend .border;

            &:hover {
                scale: 1.05;
            }

            &:active {
                scale: 1;
            }
        }
    }
    .output{
        width: 80%;
        height: 10%;
        margin-top: 10px;
        padding: 10px;
    }
}